/* Color palette: https://colorhunt.co/palette/0820322c394b334756ff4c29 */

html, body, ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Courier New";
}

header {
    height: 70px;
    background-color: #082032;
}

.left-area {
    float: left;
    padding: 20px 30px;
    letter-spacing: 5px;
    color: #FF4C29;
}

.right-area {
    float: right;
}

.right-area a {
    background-color: #334756;
    line-height: 70px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px; 
    transition: all 0.5s; 
    display: block;
    opacity: 0.7;
}

.right-area a:hover {
    opacity: 1.0;
}

.main-area {
    height: 300px;
    background-color: #2C394B;
    padding-top: 80px;
    text-align: center;
}

.main-area h2 {
    font-size: 60px;
    color: #FF4C29;
}

.main-area p {
    font-size: 30px;
    color: #FF4C29;
}

footer {
    background-color: #082032;
    height: 200px;
}

.left-footer {
    font-size: 20px;
    color: #FF4C29;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
}

a {
    text-decoration: none;
    color: #FF4C29;
}

.right-footer {
    font-size: 20px;
    color: #FF4C29;
    padding-top: 30px;
}
